.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 70%);
    align-self: start;
    order: -1;
}
#box2{
    background-color: hsl(52, 100%, 70%);
    align-self: center;
    order: 3;
}
#box3{
    background-color: hsl(111, 100%, 70%);
    align-self: center;
    order: 4;
}
#box4{
    background-color: hsl(201, 100%, 70%);
    align-self: end;
    order: 2;
}